.container{
    width: 1000px;
    margin: 100px auto 0 auto;
}

.row {
    padding: 10px;
    border-bottom: 1px solid silver;
    list-style: none;
    display: flex;
    align-items: center;
}

.row > * {
    width: 50%;
}

.summary {
    padding: 10px;
    list-style: none;
    font-weight: bold;
}